<!DOCTYPE html>
<html>
<head>
    <title>Input </title>
</head>
<body>
    <form method="post">
        <fieldset>
            <legend>Analyze</legend>
            <table>


                <tr>
                    <td>Year:</td>
                    <td><input type="text" name="Year" value="" /></td>
                </tr>
                <tr>
                    <td>Hourly Pay:</td>
                    <td><input type="text" name="HourlyPay" value="" /></td>
                </tr>
                <tr>
                    <td>Working Hours Per Day:</td>
                    <td><input type="text" name="WorkingHoursPerDay" value="" /></td>
                </tr>
                <tr>
                    <td</td>
                    <td> <input type="submit" value="Submit" class="submit" /></td>
                  >
                </tr>
        </fieldset> 
        </table>
    </form>
</body>
</html>